<!DOCTYPE html>
<!-- using the "store" angular module for this app -->
<html ng-app="store">
	<head>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="stylesheets/main.css" rel="stylesheet">
	</head>
	<!-- use the StoreController -->
	<body ng-controller="StoreController as store">
		<h1>Flatlander Crafted Gems</h1>
		<h2>- an Angular store -</h2>
		<ul class="list-group">
		<!-- iterate through products and hide product if soldOut is TRUE -->
			<li class="list-group-item" ng-repeat="product in store.products" ng-hide="product.soldOut">
				<h3> 
					{{product.name}} 
					<em class="pull-right">{{product.price | currency}}</em>
				</h3>
				<img ng-src="{{product.images[0].full}}" class="img-responsive center-block"/>
				<section ng-controller="PanelController as panel">
					<ul class="nav nav-pills">
						<!-- use PanelController for logic inside view panels -->
						<li ng-class="{ active:panel.isSelected(1) }"> 
							<a href ng-click="panel.selectTab(1)">Description</a>
						</li>
						<li ng-class="{ active:panel.isSelected(2) }"> 
							<a href ng-click="panel.selectTab(2)">Specifications</a>
						</li>
						<li ng-class="{ active:panel.isSelected(3) }"> 
							<a href ng-click="panel.selectTab(3)">Reviews</a> 
						</li>
					</ul>
				<div class="panel" ng-show="panel.isSelected(1)">
					<h4>Description</h4>
					<p>{{product.description}}</p>
				</div>
				<div class="panel" ng-show="panel.isSelected(2)">
					<h4>Specifications</h4>
					<blockquote>None yet</blockquote>
				</div>
				<div class="panel" ng-show="panel.isSelected(3)">
					<h4>Reviews</h4>
					<!-- Show list of reviews -->
					<blockquote ng-repeat="review in product.reviews">
						<b>Stars: {{review.stars}}</b>
						{{review.body}}
						<br>
						<cite>-{{review.author}} on {{review.createdOn | date}}</cite>
					</blockquote>
					<!-- Form to enter new reviews -->
					<!--  Review Form -->
            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
              <!--  Live Preview -->
              <blockquote>
                <strong>Stars: {{reviewCtrl.review.stars}}</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">-{{reviewCtrl.review.author}}</cite>
              </blockquote>

              <!--  Review Form -->
              <h4>Submit a Review</h4>
              <fieldset class="form-group">
                <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]" ng-model="reviewCtrl.review.stars" title="Stars" required>
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea class="form-control" placeholder="Write a short review of the product..." ng-model="reviewCtrl.review.body" title="Review" required></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input type="email" class="form-control" placeholder="jimmyDean@example.org" ng-model="reviewCtrl.review.author" title="Email" required />
              </fieldset>
              <!-- Debugging (returns true/false) -->
              <!-- <div> reviewForm is {{reviewForm.$valid}} </div> -->

              <fieldset class="form-group">
                <input type="submit" class="btn button-accent pull-right" value="Submit Review" />
              </fieldset>
            </form>
				</div>
				</section>
				<!-- only show button if canPurchase is TRUE -->
				<button ng-show="product.canPurchase"> Add to Cart </button>
			</li>
			</ul>
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script type="text/javascript" src="javascripts/app.js"></script>
	</body>
</html>

